html,body{
    margin:0px;
}
.container
{
    font-family: Inter;
}

.nav-bar{
    display:flex;
    align-items: center;
    height:100px;
    background-color: rgb(51, 51, 51);
}

.logo-img{
    width:60px;
    margin-right:10px;
    margin-left:20px;
}


.nav-two{
    font-size: 40px;
    font-weight:550;
    margin-right: 630px;
    color:rgb(0,204,255);
}

.nav-three{
    font-weight: 550;
    color:white; 
}