html,body{
    margin:0px;
}
.container
{
    font-family: Inter;
}

.nav-bar{
    display:flex;
    align-items: center;
    height:100px;
    background-color: rgb(32, 31, 31);
}

.logo-img{
    width:60px;
    margin-right:10px;
    margin-left:20px;
}


.nav-two{
    font-size: 40px;
    font-weight:550;
    margin-right: 630px;
    color: #61dafb;
}

.nav-three{
    font-weight: 550;
    color:white; 
}

/* .body-sec > img{
    display:inline;
    margin-left:980px;
    margin-top:-130px;
    width:350px;
    
} */

body{
    background-color: rgb(49, 49, 49);
    background-image: url(images/pngegg.png);
    background-repeat: no-repeat;
    background-position: 133.4% -230%;
    background-size: 40%;
}

.body-sec{
    margin-left:20px;
    color:white;
    
}

.body-header{
    font-weight: 520;
    font-size: 36px;
}


.body-sec > ul > li{
    margin-bottom: 15px;
    
}

li::marker {
    color: #61dafb;
    margin-right:10px;
    font-size: 1.4em;
  }
